<div class="box">
  <div class="box-header with-border">
    <a class="btn btn-success btn-sm" (click)="toCreate()">
      <span class="glyphicon glyphicon-plus">创建</span>
    </a>
    <div class="box-tools">
      <div class="input-group input-group-sm" style="width: 150px; margin-top: 7px">
        <input type="text" name="table_search" class="form-control pull-right"
               placeholder="学生姓名">

        <div class="input-group-btn">
          <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <table class="table table-bordered">
      <tr>
        <th>学号</th>
        <th>姓名</th>
        <th>性别</th>
        <th>操作</th>
      </tr>
      <tr *ngFor="let stu of stus | async">
        <td>{{stu.stuid}}</td>
        <td>{{stu.stuname}}</td>
        <td>{{stu.stusex}}</td>
        <td>
          <a class="btn btn-warning btn-xs" ><span
            class="glyphicon glyphicon-pencil" (click)="toUpdate(stu.stuid)">修改</span></a>
          <a class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove" (click)="del(stu.stuid)">删除</span></a>
        </td>
      </tr>
    </table>
  </div>
  <!-- /.box-body -->
  <div class="box-footer clearfix">
    <ul class="pagination pagination-sm no-margin pull-right">
      <li><a href="#">&laquo;</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
  </div>
</div>
<!-- /.box -->
